body {font-family:arial;}
h1 {padding:0px;margin:0px;}
h2 {padding:0px;margin-top:4px;}
#board {min-height:100px;/*position:relative;*/}
.title {background-color:#ff9900;text-align:center;color:white;padding: 2px 0px;border-bottom: 5px solid #fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;height:25px;padding-top:10px;vertical-align:middle;}

/* TEMP COLUMNS */
#coltodo, #col1, #col2, #col3, #col4 {background-color:#ddd;/*position:absolute;*/float:left;width: 650px;min-height:150px;border: 5px solid #fff;}
*[draggable=true] {float:left;height:220px;width:300px;border:2px solid white;margin:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background-color:#fffddf;}
.cardTitle {background-color: #fffddf;border:2px solid white;}
.cardTitle input{width:350px;display:block;background-color:#fff;border:none;}
.cardstory textarea {height:150px;width:150px;background-color:#fff;border:none;}
.card .body {width:80%;}
.card .footer {clear:both;width:100%;padding-top:10px;}
.card .left {float:left;width:47%;height:100%;padding:5px;}
.card .right {float:right;width:44%;height:100%;padding:5px;}
.card h2 {padding:2;margin:0;}
.card p {padding:0;margin:0;}
.card img {margin-left:130%;}
.card h3 {padding:0;margin:0;font-size:.8em;}
.grey {color:#777;font-size:1.1em !important;}
.table {display: table;margin:0 auto;margin-left:5px;}
.row {display: table-row;width:100%;}
.cell {display: table-cell;}
.hidecolumn {float:left;margin-left:5px;}
.addcard {float:right;margin-right:5px;}
.quickmenubar {width:30px;height:400px;text-align:center;border:1px solid #000;margin-right:3px;margin-left:0px;float:left;}
iframe {height:600px;border:none;}

/*COLLAPSE PROTOTYPE*/
#columnminstate {width:25px;height:300px;border:1px solid #000;}
#tabmenu li p {margin-top:20px;-moz-transform:rotate(-270deg);-moz-transform-origin: top middle;-webkit-transform: rotate(-270deg);-webkit-transform-origin: top middle;-o-transform: rotate(-270deg);-o-transform-origin:  top middle;filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
#tabmenu {margin:0;padding:0;}
#tabmenu li {display:block;list-style:none;background-color:#ffcc33;float:left;width:40px;height:300px;margin-right:5px;}
#taskwalltopnav {margin-bottom:5px;}
#infopanetest {left:850px;display:none;position:absolute;z-index:9999;width:400px;height:300px;background-color:#fff;border:2px solid black;margin:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;float:left;}
#infopanecum {left:440px;display:none;position:absolute;z-index:9999;width:400px;height:300px;background-color:#fff;border:2px solid black;margin:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;float:left;}
#infopaneburn {left:30px;display:none;position:absolute;z-index:9999;width:400px;height:300px;background-color:#fff;border:2px solid black;margin:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;float:left;}
